body {
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
    background: url('assets/images/circuit.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.settings {
    position: absolute;
    z-index: 900;
    top: 50%;
    transform: translateY(-50%);
    display: grid;
    grid-row-gap: 5px;
}

ul.leaderboard {
    list-style-type: none;
    padding-left: 10px;
}

.personal {
    color: rgb(31, 201, 200);
}

#breakout {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

mat-form-field {
    width: 100%;
}

a {
    outline: none;
    text-decoration: none;
    color: rgb(31, 201, 200);
}

.outdated {
    color: red;
}